<div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="inputGroupSelect01">User</label>
    </div>
    <select class="custom-select" id="users_list">
      
    </select>
  </div>
  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <span class="input-group-text" id="inputGroup-sizing-default">Password</span>
    </div>
    <input type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default" id="user_password">
  </div>
  <fieldset class="form-group">
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="IsAdmin">
        <label class="form-check-label">Admin</label>
      </div>
  </fieldset>
  <button type="button" class="btn btn-danger" id="admin_delete">Delete account</button>