<div id="admin_menu" style="background-color: #FFF; padding: 10px; margin: 10px; border-radius: 10px;">

</div>
<div style="display: grid; grid-template-columns: repeat(3, 1fr); padding: 5px;">
<div style="padding: 10px;">
    <p class="h3">To do</p>
    <div id="to_do" style="width: 100%; min-height: 200px; height: 100%; padding: 20px; background-color: #FFF; padding-bottom: 100px;"></div>
</div>
<div style="padding: 10px;">
    <p class="h3">Doing</p>
    <div id="doing" style="width: 100%; min-height: 200px; height: 100%; padding: 20px; background-color: #FFF; padding-bottom: 100px;"></div>
</div>
<div style="padding: 10px;">
    <p class="h3">Done</p>
    <div id="done" style="width: 100%; min-height: 200px; height: 100%; padding: 20px; background-color: #FFF; padding-bottom: 100px;"></div>
</div>
</div>
<button id="CreateTask" type="button" class="btn btn-primary" style="position:absolute; bottom:30px; right:30px; border-radius: 50%; width: 70px; height: 70px;" href="#"><svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-lg" viewBox="0 0 16 16">
    <path d="M8 0a1 1 0 0 1 1 1v6h6a1 1 0 1 1 0 2H9v6a1 1 0 1 1-2 0V9H1a1 1 0 0 1 0-2h6V1a1 1 0 0 1 1-1z"></path>
  </svg></button>